/*write in all codes*/
*{
	padding:0px;
	margin:0px;
}

header,section,footer,aside,nav,article,hgroup{
	display: block;
}

body{
	text-align: center;
}

#big-wrapper {
	border:1px solid black;
	width:100vw; /*change to 1000px */
}

#copyright{
	clear: both;
	text-align: center;
	padding: 20px;
	color:white;
	background-color: black;
	border-top:1px solid white;
}

/*till here*/

#top-header{
	background-image:url(../images/pic5.jpg);
	background-size: cover;
	height: 100vh;
	color:white;
	margin-top:-20px;
	padding-top: 40px;
	
}

#top-menu li{
	display: block;
	font:bold 14px Tahoma;
}

#about{
	background-color: black;
	height:100vh;
	color:white;
	background-image: url(../images/pic4.jpg);
	background-size: cover;
}

#project{
	background-color: black;
	height:100vh;
	color:white;
	background-image: url(../images/pic1.jpg);
	background-size: cover;
}

#about-ar{

}
#about-pic{
height:300px;
width:300px;
border-radius: 50%;
}

#contactme{
	background-color: black;
	color: white;
	height: 100vh;
	background-image: url(../images/pic3.jpg);
	background-size: cover;
}


h1,h2{
font-family: "Bebasneue bold", sans-serif;
font-size: 44px;
font-style: normal;
font-weight: bold;
letter-spacing: normal;
line-height: 62px;
text-transform: none;
color: #E6E6E6;
padding-top: 40px;
}

h2{
	font-size:39px;
}


#namespan{
 color:orange;
}