/*write in all codes*/
*{
	padding:0px;
	margin:0px;
}

h1{
	font:bold 20px Tahoma;
}

h2{
	font:bold 14px Tahoma;
}

header,section,footer,aside,nav,article,hgroup{
	display: block;
}

body{
	text-align: center;
}

#big-wrapper {
	border:1px solid black;
	width:100vw; /*change to 1000px */
	margin:20px auto; /*padding from top of site*/
}

#copyright{
	clear: both;
	text-align: center;
	padding: 20px;
	color:white;
	background-color: black;
	border-top:1px solid white;
}

/*till here*/

#top-header{
	background-image:url(../images/pic1.jpg);
	background-size: cover;
	border:1px solid blue;
	padding:20px;
	height: 100vh;
	color:white;
}

#top-menu li{
	display: inline-block;
	font:bold 14px Tahoma;
}

#about{
	background-color: black;
	height:100vh;
	color:white;
}

#project{
	background-color: black;
	height:100vh;
	color:white;
}

#about-ar{
	float: left;
	width:65vw;		/*remember width and margin*/
	margin:2vw;
}
#about-pic{
	float:left;
	width:26vw;
	margin:2vw;
}

#contactme{
	background-color: black;
	color: white;
	height: 100vh;
}