section {
	--fg: #43ff97;
	--bg: #2a8954;
	margin-left: 1em;
	margin-right: 1em;
	background: repeating-linear-gradient(
		-45deg,
		rgba(0, 0, 0, 0.667) 0px,
		rgba(0, 0, 0, 0.667) 6px,
		rgba(0, 0, 0, 0.267) 6px,
		rgba(0, 0, 0, 0.267) 12px
	);
	border-radius: 3px;
	box-shadow: rgba(0, 0, 0, 0.267) 0px 2px 4px;
	padding: 1em;
	vertical-align: top;
	text-align: left;
	color: rgb(255, 255, 255);
	position: relative;
	margin-bottom: 2em;
}
section::before {
	content: "";
	position: absolute;
	inset: -9px 9px 9px -9px;
	box-sizing: border-box;
	border: 3px solid var(--fg);
	pointer-events: none;
}
section::after {
	content: "";
	position: absolute;
	inset: 9px -9px -9px 9px;
	box-sizing: border-box;
	background: repeating-linear-gradient(
		-45deg,
		var(--bg) 0,
		var(--bg) 6px,
		#0000 6px,
		#0000 12px
	);
	clip-path: polygon(
		calc(100% - 16px) 0px,
		100% 0px,
		100% 100%,
		0px 100%,
		0px calc(100% - 16px),
		calc(100% - 16px) calc(100% - 16px)
	);
	pointer-events: none;
}
section h1 {
	margin: 0px;
	font-size: 2em;
	position: relative;
	z-index: 1;
}
section h1::before {
	content: "";
	position: absolute;
	left: 1.5em;
	top: -0.1em;
	width: 4.5em;
	height: 0.9em;
	z-index: -1;
	background: repeating-linear-gradient(
		-45deg,
		var(--bg) 0,
		var(--bg) 6px,
		#0000 6px,
		#0000 12px
	);
	pointer-events: none;
}
section h1::after {
	content: "";
	position: absolute;
	left: 0px;
	top: 100%;
	width: 2em;
	height: 3px;
	background-color: var(--fg);
	pointer-events: none;
}
a {
	color: inherit;
	text-decoration: inherit;
}
section .sns {
	position: relative;
	display: block;
	margin-top: 1em;
	padding: 0.5em 0.5em 0.5em 3.5em;
	border: 1px solid var(--fg);
	margin-right: -5px;
	z-index: 1;
}
section .sns::after {
	content: "";
	position: absolute;
	left: 1em;
	bottom: calc(-0.5em - 1px);
	right: 0px;
	height: 0.5em;
	z-index: -1;
	background: repeating-linear-gradient(
		-45deg,
		var(--bg) 0,
		var(--bg) 6px,
		#0000 6px,
		#0000 12px
	);
	pointer-events: none;
}
section .sns:hover {
	background-color: var(--fg);
	color: rgb(0, 0, 0);
}
section .sns:active {
	background-color: rgb(255, 255, 255);
	border-color: rgb(255, 255, 255);
	transform: translate(1px, 1px);
}
section .sns img {
	position: absolute;
	left: 0.5em;
	top: 0.4em;
	height: 2.5em;
}
section .sns:hover img {
	filter: invert(1);
}
section .sns h2 {
	margin: 0px;
	font-size: 1.3em;
}
section .sns p {
	margin: -0.2em 0px 0px;
	font-weight: 900;
}
section .sns:last-child {
	margin-bottom: 1em;
}

.bgc {
	margin-top: 100px;
	background-color: #080808;
}
